<div class="container">

  <div class="accordion" id="accordion2">
                  <div class="accordion-group" style="background-color: rgb(215, 235, 245);">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        HOSPITAL
                      </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse" >
                      <div class="accordion-inner">
                        <%= form_tag("/visual_reports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '1'%>
                                <%=select_tag "hospital", options_from_collection_for_select(@hospitals, "id", "hospital_name")%>
                                  <%=select_tag "field", options_for_select(@fields)%>
                                    <%= submit_tag("Search", :class=>"btn") %>
                                <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group" style="background-color: rgb(245, 231, 215);">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        DOCTOR
                      </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <%= form_tag("/visual_reports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '2'%>
                                <%=select_tag "employee", options_from_collection_for_select(@employees, "id", "emp_full_name")%>
                                  <%=select_tag "field", options_for_select(@fields_doc)%>
                                    <%= submit_tag("Search", :class=>"btn") %>
                                <% end %>
                      </div>
                    </div>
                  </div>

                </div>



                  <%dates=[]%>
                  <%final_value=[]%>
                  <%final_metric=""%>

        <% if @entity == "1"%>
          <h1>Metric : <%=@metric%></h1>

          <p> Download :
          <%= link_to "XLS", visual_reports_generate_report_path(format: "xls" , :entity=> params[:entity] , :field=>params[:field], :hospital => params[:hospital], :employee => params[:employee]) , :class => 'btn btn-small btn-success' %>
          <%= link_to "PDF", visual_reports_generate_report_path(format: "pdf" , :entity=> params[:entity] , :field=>params[:field], :hospital => params[:hospital], :employee => params[:employee]) , :class => 'btn btn-small btn-primary' %>
          </p>

          <%final_metric=@metric%>
          <table class="table table-bordered" id="table1">
            <thead>
              <tr>
                <th>Hospital Name</th>
                <th>Month</th>
                <th>Year</th>
                <th><%=@metric%></th>

              </tr>
            </thead>
            <tbody>
              <% @final_data.each do |hospital_performa| %>
                <tr>
                  <td><%= link_to hospital_performa.try(:hospital).hospital_name, hospital_path(hospital_performa.hospital) %></td>
                  <td><%= hospital_performa.month.month_name %></td>
                  <td><%= hospital_performa.year%></td>
                  <td><%= hospital_performa.attributes[@field] %></td>
                  <% final_value.push({:y=>(hospital_performa.year.to_s+"-"+(hospital_performa.month_id.to_s.size>1 ? hospital_performa.month_id.to_s : "0"+hospital_performa.month_id.to_s)),:a=>hospital_performa.attributes[@field]}) %>


                </tr>
              <% end %>
            </tbody>
          </table>
        <%else%>
          <table class="table table-bordered" id="table1">
            <h1>Metric : <%=@metric_doc%></h1>
            <p>
              Download :

            <%= link_to "XLS", visual_reports_generate_report_path(format: "xls" , :entity=> params[:entity] , :field=>params[:field], :hospital => params[:hospital], :employee => params[:employee]) , :class => 'btn btn-small btn-success' %>
            <%= link_to "PDF", visual_reports_generate_report_path(format: "pdf" , :entity=> params[:entity] , :field=>params[:field], :hospital => params[:hospital], :employee => params[:employee]) , :class => 'btn btn-small btn-primary' %>
            </p>

            <%final_metric=@metric_doc%>
            <thead>
              <tr>

                <th>Name of Doctor</th>
                <th>Employee Treasury ID</th>
                <th>Hospital</th>
                <th>Month</th>
                <th>Year</th>
                <th>Post / Specialist</th>
                <th><%=@metric_doc%></th>

              </tr>
            </thead>
            <tbody>
              <% @final_data.each do |performaone| %>
                <tr>
                  <td><%= link_to performaone.employee.emp_full_name, employee_path(performaone.employee) %></td>
                  <td><%= performaone.employee.emp_treasury_id %></td>
                  <td><%= performaone.hospital.nil? ? "N/A" : (link_to performaone.hospital.hospital_name,hospital_path(performaone.hospital)) %></td>
                  <td><%= performaone.try(:month).try(:month_name) || "Not Entered" %></td>
                  <td><%= performaone.try(:year)|| "Not Entered" %></td>
                  <td><%= performaone.try(:designation).try(:Designation_English) || "Not Entered" %></td>
                  <td><%= performaone.attributes[@field] %></td>
                  <% final_value.push({:y=>(performaone.year.to_s+"-"+(performaone.month_id.to_s.size>1 ? performaone.month_id.to_s : "0"+performaone.month_id.to_s)),:a=>performaone.attributes[@field]}) %>


                  </tr>
              <% end %>
            </tbody>
          </table>
        <%end%>

</div>

<%= content_tag :div, "", id: "gen_chart" %>

<p> Line represents the following metric : <%=@metric || @metric_doc%></p>


<script type="text/javascript">

<%puts final_value%>

data=<%=final_value.to_json.html_safe%>;

Morris.Line({
  element: 'gen_chart',
  data: data,
  xkey: 'y',
  ykeys: ['a'],
  labels: "<%=final_metric%>"
});

$(function(){
  // $('#hospital').select2();
  // $('#employee').select2();



});

</script>