<div class="container">

  <div class="accordion" id="accordion2">
                  <div class="accordion-group" style="background-color: rgb(215, 235, 245);">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        HOSPITAL
                      </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse" >
                      <div class="accordion-inner">
                        <%= form_tag("/visual_reports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '1'%>
                                <%=select_tag "hospital", options_from_collection_for_select(@hospitals, "id", "hospital_name")%>
                                  <%=select_tag "field", options_for_select(@fields)%>
                                    <%= submit_tag("Search", :class=>"btn") %>
                                <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group" style="background-color: rgb(245, 231, 215);">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        DOCTOR
                      </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <%= form_tag("/visual_reports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '2'%>
                                <%=select_tag "employee", options_from_collection_for_select(@employees, "id", "emp_full_name")%>
                                  <%=select_tag "field", options_for_select(@fields_doc)%>
                                    <%= submit_tag("Search", :class=>"btn") %>
                                <% end %>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <script type="text/javascript">

              $(function(){
                // $('#hospital').select2();
                // $('#employee').select2();
                // $('#field').select2();



              });

              </script>