<div class="container">

  <div class="accordion" id="accordion2">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        HOSPITAL : STATEWISE
                      </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse" >
                      <div class="accordion-inner">
                        <%= form_tag("/perfreports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '2'%>
                                <%=select_tag "state", options_from_collection_for_select(@states, "id", "state_name")%>
                                  <%=select_tag "field", options_for_select(@fields)%>
                                    <%= submit_tag("Search") %>
                                <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        DISTRICTWISE
                      </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <%= form_tag("/perfreports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '1'%>
                                <%=select_tag "district", options_from_collection_for_select(@district, "id", "district_name")%>
                                  <%=select_tag "field", options_for_select(@fields)%>
                                    <%= submit_tag("Search") %>
                                <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        DIVISIONWISE
                      </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <%= form_tag("/perfreports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '1'%>
                                <%=select_tag "division", options_from_collection_for_select(@division, "id", "division_name")%>
                                  <%=select_tag "field", options_for_select(@fields)%>
                                    <%= submit_tag("Search") %>
                                <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        DOCTOR : STATEWISE
                      </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <%= form_tag("/perfreports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '2'%>
                                <%=select_tag "state", options_from_collection_for_select(@states, "id", "state_name")%>
                                  <%=select_tag "field", options_for_select(@fields_doc)%>
                                    <%= submit_tag("Search") %>
                                <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                        DOCTOR : DISTRICTWISE
                      </a>
                    </div>
                    <div id="collapseFive" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <%= form_tag("/perfreports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '2'%>
                                <%=select_tag "district", options_from_collection_for_select(@district, "id", "district_name")%>
                                  <%=select_tag "field", options_for_select(@fields_doc)%>
                                    <%= submit_tag("Search") %>
                                <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                        DOCTOR : DIVISIONWISE
                      </a>
                    </div>
                    <div id="collapseSix" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <%= form_tag("/perfreports/generate_report", method: "get") do %>
                              <%=hidden_field_tag 'entity', '2'%>
                                <%=select_tag "division", options_from_collection_for_select(@division, "id", "division_name")%>
                                  <%=select_tag "field", options_for_select(@fields_doc)%>
                                    <%= submit_tag("Search") %>
                                <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>